main{
    display: flex;
    flex-direction: column;
    .section1{
        display: flex;
        div{
            h1{
            font-weight: bold;
            font-size:60px;
        }
        
    }
    
    
}
}