/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* header*/
:root {
    --primer-color: #D1891C;
    --segundo-color: #00669F;
    --tercer-color: #F3F3F3;
    --cuarto-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;

}

.descuento {
    background-color: var(--primer-color);
    font-weight: 800;
    padding: 5px 67px;
}

.Logo {
    background-color: var(--segundo-color);
    padding: 15px 67px;
}

h1 {
    color: var(--cuarto-color);
    font-weight: 800;
}

.cointanerPadre

.card { display: flex;
        background-color: var(--tercer-color);
        justify-content: space-between;
        flex-direction: column;
        width: 50%;
    }

    footer {
        background-color: var(--segundo-color);
        color: var(--cuarto-color);
        text-align: center;
        justify-content: center;

    }