/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header*/

.descuento{
    background-color: #1CD1B0;
    height: 38px;
    left: 0px;
    top: 0px;
}

.barraNav{
    background: #00669F;
    height: 101px;
    left: 0px;
    top: 38px;
    position:sticky;
    top: 0;
    z-index:999;
}


 /*main*/
.card{
    line-height: 1.5;
    margin: 6px 0px 6px 0px;
    padding: 0px 6px 0px 6px;
}
.desc{
    line-height: 1.5;
    margin: 5px 5px 5px 5px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-size-adjust: 100%;

}

footer {
    background-color: #00669F;
    color: white;
    width: 1024; 
    height: 51px;
    top: 972px;

    width: 337ox;
    height: 19px;
    top:988px;
    left:16px;

}