@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(10deg);
    }

    25% {
        -webkit-transform: rotate(-10deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(1deg);
    }

    25% {
        -ms-transform: rotate(-1deg);
    }

    50% {
        -ms-transform: rotate(1.5deg);
    }

    75% {
        -ms-transform: rotate(-5deg);
    }

    100% {
        -ms-transform: rotate(0deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primer-color: #222222;
    --segundo-color: #F0A83E;
    --tercer-color: #3C2313;
    --cuarto-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

.ofertas {
    background-color: var(--primer-color);
    height: 30px;
    font-size: 12px;
    color: var(--cuarto-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ofertas .fas {
    font-size: 12px;
}

.ofertas>p {
    padding-left: 90px;
}

.pais {
    padding-right: 40px;
}

ul {
    list-style: none;

}

ul li {
    display: inline;
    padding-right: 15px;
}

header {
    background-color: var(--segundo-color);
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: var(--cuarto-color);
}

img {
    width: 20px;
    height: 20px;
}

h1 {
    font-size: 25px;
    padding-left: 58px;


}

h1:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}



nav {
    margin-right: 40px;
}

a {
    color: var(--cuarto-color);
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color: #3C2313;


}

nav .fas {
    font-size: 1rem;
}

.img-principal {
    background-image: url('../img/foto.png');
    background-size: cover;
    height: 500px;
}

.comederos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
    text-align: center;
    position: relative;
    top: 200px;


}

h2::first-letter {
    font-size: 3rem;
}

h2 {
    width: 40%;
    color: var(--tercer-color);
    background-color: var(--cuarto-color);
    padding: 8px 0px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;


}

.comederos>p {
    color: var(--tercer-color);
    line-height: 50px;
}

.comederos h3 {
    background-color: var(--segundo-color);
    color: var(--cuarto-color);
    height: 50px;
    width: 192px;
    border-color: transparent;
    box-shadow: 1px 1px 10px 1px var(--tercer-color);
    padding-top: 15px;
    border-radius: 10px;
}


.productos-destacados {
    margin-top: 50px;
    text-align: center;
}
 
.img-huella:hover {
    
}
.img-huella {
    width: 50px;
    height: 50px;
}

.productos-destacados>h2 {
    font-weight: bold;
}

section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;

}

.churrasco {
    background-image: url('../img/churrasquito.png');
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;

}

.comedero {
    background-image: url('../img/comedero.png');
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.hueso {
    background-image: url('../img/Huesito.png');
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.texto-section {
    position: relative;
    top: 290px;
    color: var(--tercer-color);
    line-height: 20px;
    font-weight: bold;
}

.precio {
    color: var(--segundo-color);
    padding-bottom: 30px;
}

footer {
    margin-top: 100px;
}

.parrafo-footer {
    color: var(--cuarto-color);
    text-align: center;
    background-color: var(--primer-color);
    padding: 10px 0px;
    font-size: 13px;
}

.container-footer {
    background-color: var(--tercer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.ubicacion-footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.logo-footer {
    width: 50%;
}


.ubicaciones {
    display: flex;
    color: var(--cuarto-color);
    gap: 18px;
    width: 40%;
    padding-top: 40px;
    padding-left: 40px;
}

.fas {
    font-size: 2.3rem;
}

.datos p {
    font-size: 9px;
}

.datos h5 {
    font-size: 13px;
    font-weight: 500;
}

.logo-footer>h2 {
    color: var(--cuarto-color);
    background-color: transparent;
    font-weight: bold;
}

.logo-footer>h2>span {
    color: var(--segundo-color);
}

input [type="text"], input [type="email"]: focus{
    border: 3px solid
}



.formulariohijo {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.inputhijo {
    color: white;
    background-color: var(--tercer-color);
    border: 0PX;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin: 10PX 0PX;
}

.formulariohijo h3 {
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    color: var(--tercer-color);

}

.botonresetear {
    border-radius: 30px;
    padding: 5px;
    background-color: #8A8787;
    color: white;
    width: 110px;
    height: 34PX;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.botonenviar {
    border-radius: 30px;
    padding: 5px;
    background-color: var(--segundo-color);
    color: white;
    width: 110px;
    height: 34px;
    border: none;
    cursor: pointer;


}



@media screen and (max-width: 600px) {

    .contenedor {
        display: flex;
        flex-direction: column;

    }

    .gabitequeremos {
        display: flex;
        flex-direction: column;

        align-items: center;
        width: 100%;

    }

    header nav ul li {
        display: none;

    }

    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 0px;

    }
}

/* @media  screen and (max-width: 480px){
    html{
        font-size: 20px;
    }
    nav ul{
        display: none;
    }
    .icono-menu{
        display: block;
    }
    section, footer{
        padding: unset;
    }
    footer{
        flex-direction: column;
    }
    footer div{
        width: unset;
        margin-bottom: .2rem;
    }
} */