h2{
    margin: 0;
}
/* Header */
header{
    background-color: #F0A83E;

}
.div {
    background-color: black;

}

p{
    color: white;
    display: inline-block;
}

h1{
    color: white;
    display: inline-block;
}

span{
    color: black
}

nav {
    color: white;
    display: inline-block;
    text-align: right;
}

    
/* Main */

main{
    background-color: E5E5E5;
}

.banner{
    background-image: url(../img/foto.png);
    width:100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:cover;
   
}
.banner1{
    width: 40%;
    margin-left: 60%;
    padding-top: 15%;
    text-align: center;
    
}
.topbar {
    width: 20%;
    margin-left: 40%;
    padding-top: 0%;
    text-align: right;
}


.lista{
    display: inline-block;
}

/* Footer */
footer{
    background-color: #3C2313;
    color: #ffffff;
}